<div class="d-flex flex-wrap justify-content-center" style="background-color: #444">
  <div class="text-center p-3">
    <img src="{{ anime?.imgUrl }}" />
  </div>
  <div class="p-4">
      <div class="text-center text-white" style="font-size: large;">
          <p>{{anime?.translatedTitle}}</p>
          <p>{{anime?.originalTitle}}</p>
      </div>
      <div class="d-flex flex-wrap justify-content-center" >
        <p class="text-white m-3" style="font-size: x-large;">Rating: </p>
        <div class="badge badge-secondary p-2 m-2" style="font-size: xx-large;">8.5</div> 
      </div>
  </div>
</div>
