@import "bootstrap"
    
.mobile-card
    @extend .card
    cursor: pointer
    width: 150px
    height: 225px

.desktop-card
    @extend .card
    cursor: pointer
    width: 240px
    height: 380px

.mobile-title
    font-size: smaller

.desktop-title
    font-size: normal
