@import "bootstrap"
    
.mobile-card
    @extend .card
    cursor: pointer
    width: 130px
    height: 210px

.desktop-card
    @extend .card
    cursor: pointer
    width: 240px
    height: 380px

.mobile-title
    font-size: 11px
    align-content: center

.desktop-title
    font-size: normal
