@import "bootstrap"
    
.mobile-card
    @extend .card
    cursor: pointer
    width: 140px
    height: 200px

.desktop-card
    @extend .card
    cursor: pointer
    width: 250px
    height: 400px

.mobile-title
    font-size: small

.desktop-title
    font-size: 15px