<div class="blurred-background"></div>
<div class="d-flex justify-content-center">
    <div class="card text-white border-light p-3 shadow col-md-3" style="top: 30%; position: fixed; background-color: #404040; width: 80%;">
        <form class="text-center">
            <p class="text-center" style="font-size: large;">Login</p>
            <input class="form-control border-light text-white mx-md-0 mx-sm-2 shadow" placeholder="Email" type="email" style="background-color: #444;"/>
            <input class="form-control border-light text-white mx-md-0 mx-sm-2 my-3 shadow" placeholder="Password" type="password" style="background-color: #444;"/>
            
            <button class="btn btn-success shadow m-3" type="submit">
              Submit
            </button>
          </form>
    </div>
</div>
