<div class="d-flex flex-wrap p-1 justify-content-center dark-background">
    <div class="card border-light text-white p-2 mt-2 shadow h-100 col-sm-10 mx-4 col-md-2 dark-background">
        <div class="ml-auto mr-auto text-center">
            <p class="text-white" style="font-size: large;">Filters:</p>
        </div>
        <form class="col-10 ml-auto mr-auto" *ngIf="filtersVisible"
        [formGroup]="animeFiltersForm"
        (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="orderBySelect">Order By:</label>
                <mat-select id="orderBySelect" class="form-control shadow" style="background-color: #404040;" formControlName="orderBy">
                    <mat-option value="None">None</mat-option>
                    <mat-option value="ByTitle">Title</mat-option>
                    <mat-option value="ByEpisodesCount">Episodes Count</mat-option>
                </mat-select>
            </div>
            <div class="form-group">
                <label for="demographicsSelect">Demographics:</label>
                <mat-select formControlName="demographics" class="form-control shadow" style="background-color: #404040;" id="demographicsSelect" multiple>
                    <mat-option value="Kids">Kids</mat-option>
                    <mat-option value="Shounen">Shounen</mat-option>
                    <mat-option value="Shoujo">Shoujo</mat-option>
                    <mat-option value="Seinen">Seinen</mat-option>
                    <mat-option value="Josei">Josei</mat-option>
                </mat-select>
                
            </div>
            <div class="form-group">
                <label for="statusSelect">Status:</label>
                <mat-select formControlName="status" id="statusSelect" class="form-control shadow" style="background-color: #404040;">
                    <mat-option value="NotYetAired">Not Yet Aired</mat-option>
                    <mat-option value="CurrentlyAiring">Currently Airing</mat-option>
                    <mat-option value="FinishedAiring">Finished Airing</mat-option>
                </mat-select>
            </div>
            <div class="form-group">
                <label for="tagSelect">Tags:</label>
                <mat-select multiple formControlName="tagIds" id="tagSelect" class="form-control shadow" style="background-color: #404040;">
                    <mat-option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</mat-option>
                </mat-select>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-success shadow mt-3" type="submit">Apply</button>
            </div>
        </form>
        <a class="mr-3 mb-2 text-right" style="color: #9999ff;" (click)="filtersVisible = !filtersVisible">{{filtersVisible ? 'Hide' : 'Show'}}</a>

    </div>
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-7 dark-background">
        <div class="p-1 d-flex flex-wrap justify-content-center ml-auto mr-auto">
            <app-anime-list-item class="" *ngFor="let anime of animes" [anime]="anime"></app-anime-list-item>
        </div>
        <mat-paginator style="margin-right: 10%" [pageSize]="resultsPerPage" [pageIndex]="page" [pageSizeOptions]="[10, 20, 50]" [length]="animes.length" (page)="onPageChange($event)"></mat-paginator>
    </div>
</div>
