<div class="d-flex dark-background">
    <div class="col-sm-12 col-md-10 dark-background mr-auto ml-auto">
        <div class="">
            
            <form class="d-flex flex-wrap justify-content-center text-white p-2" *ngIf="filtersVisible"
            [formGroup]="animeFiltersForm"
            
            (ngSubmit)="onSubmit()" >
                <div class="form-group m-2">
                    <label for="orderBySelect">Order By:</label>
                    <mat-select id="orderBySelect" class="form-control shadow" style="background-color: #404040;" formControlName="orderBy">
                        <mat-option value="None">None</mat-option>
                        <mat-option value="ByTitle">Title</mat-option>
                        <mat-option value="ByEpisodesCount">Episodes Count</mat-option>
                    </mat-select>
                </div>
                <div class="form-group m-2">
                    <label for="demographicsSelect">Demographics:</label>
                    <mat-select formControlName="demographics" class="form-control shadow" style="background-color: #404040;" id="demographicsSelect" multiple>
                        <mat-option value="Kids">Kids</mat-option>
                        <mat-option value="Shounen">Shounen</mat-option>
                        <mat-option value="Shoujo">Shoujo</mat-option>
                        <mat-option value="Seinen">Seinen</mat-option>
                        <mat-option value="Josei">Josei</mat-option>
                    </mat-select>
                    
                </div>
                <div class="form-group m-2">
                    <label for="statusSelect">Status:</label>
                    <mat-select formControlName="statuses" id="statusSelect" class="form-control shadow" style="background-color: #404040;" multiple>
                        <mat-option value="NotYetAired">Not Yet Aired</mat-option>
                        <mat-option value="CurrentlyAiring">Currently Airing</mat-option>
                        <mat-option value="FinishedAiring">Finished Airing</mat-option>
                    </mat-select>
                </div>
                <div class="form-group m-2">
                    <label for="tagSelect">Tags:</label>
                    <mat-select multiple formControlName="tagIds" id="tagSelect" class="form-control shadow" style="background-color: #404040;">
                        <mat-option *ngFor="let tag of tags" value="{{tag.id}}">{{tag.name}}</mat-option>
                    </mat-select>
                </div>
                
            </form>
    
        </div>
        <div class="dark-background" >
            <div class="p-1 d-flex flex-wrap justify-content-center ml-auto mr-auto">
                <app-anime-list-item class="" *ngFor="let anime of animes" [anime]="anime"></app-anime-list-item>
            </div>
            <mat-paginator class="ml-auto mr-auto" style="width: fit-content; font-size: small; font-family: 'Rubik';" [pageSize]="resultsPerPage" [pageIndex]="page" [pageSizeOptions]="[10, 20, 50]" [length]="allAnimeCount" (page)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
    
</div>
