<div class="card border-light pt-3 m-2" style="background-color: #404040; width: 300px; height: 200px;">
    <div class="d-flex flex-wrap justify-content-center">
        <div class="p-2 text-center" style="width: 50%;">
            <img src="{{character?.imageUrl}}" width="60%">
            <p class="text-center mt-2" style="font-size: small;">{{character?.translatedName}}</p>
        </div>
        <div class="p-2 text-center" style="width: 50%;">
            <img src="{{character?.voiceActorImageUrl}}" width="60%">
            <p class="text-center mt-2" style="font-size: small;">{{character?.voiceActor}}</p>
        </div>
    </div>
</div>
