<a class="card-link"
   routerLink="/anime/{{anime.id}}">
    <div class="p-3 m-1 text-center shadow"
         [ngClass]="innerWidth < 575 ? 'mobile-card' : 'desktop-card'"
         style="background-color: #333;">
        <div class="text-center w-100"
             style="height: 80%; position: relative;">
            <img width="100%"
                 height="100%"
                 src="{{anime.imgUrl}}">
            <p class="mark-badge badge-secondary"
               style="bottom: -20px;">{{anime.rating.toFixed(2)}}</p>
        </div>
        <div class="mx-auto my-auto" style="width: 100%; height: 100%; text-align: center;">
            <p class="text-white px-1 mt-3"
               [ngClass]="innerWidth < 575 ? 'mobile-title' : 'desktop-title'">{{anime.translatedTitle}}</p>

        </div>

    </div>
</a>