@import "bootstrap"
    
.mobile-card
    @extend .card
    cursor: pointer
    width: 200px
    height: 320px

.desktop-card
    @extend .card
    cursor: pointer
    width: 250px
    height: 400px

.mobile-title
    font-size: small

.desktop-title
    font-size: 15px

.mark-badge
    @extend .badge
    position: absolute
    margin-left: auto
    margin-right: auto
    left: 0
    right: 0
    text-align: center
    width: 40%
